@charset "UTF-8";

/* 
     Paleta de cores
     Verde: #49a09d
     Lilás: #5f2c82
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #5f2c82;
    width: 97vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



div#login {
    width: 250px;
    height: 520px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    overflow: hidden;
}

div#imagem {
    width: 100%;
    height: 30%;
}

img {
    height: 100%;
    width: 100%;
}

div.login {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 10px 20px 20px 20px;
}

div.login h1 {
    padding-bottom: 10px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

label {
    display: flex;
    background-color: #8610d4;
    width: 98%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

input {
    padding: 7px;
    border-radius: 10px;
    border: none;
    width: 98%;
}

input::placeholder {
    color: rgb(0, 0, 0);
}

input#enviar {
    background-color: #5f2c82;
    color: white;
    width: 90%;
    padding: 15px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
input#esqueci {
    background-color: #5f2c82;
    color: white;
    width: 90%;
    padding: 15px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
input#enviar:hover, input#esqueci:hover {
    background-color: #49a09d;
}

i {
    margin: 5px 5px 0px 0px;
    color: white;
}

label span {
    color: white;
    margin-top: 2px;
    margin-left: 5px;
    cursor: pointer; 
}

#eyeson {
    display: none;
}